  <div class="modal fade" id="addNewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          
              @* Form *@
                <div class="mb-3">
                  <label for="ContentFrom" class="form-label">Kata</label>
                  <input type="text" class="form-control" id="ContentFrom" placeholder="input kata" name= "cFrom" required>
                </div>

                <div class="mb-3">
                  <label for="ContentTo" class="form-label">Terjemahan</label>
                  <input type="text" class="form-control" id="ContentTo" placeholder="input terjemahan" name = "cTo" required>
                </div>

                <div class="mb-3">
                  <label for="ContentAudio" class="form-label">Audio</label>
                  <input class="form-control" type="file" id="ContentAudio" name="cAudio"required>
                </div>
                @* /Form *@
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        
      </div>
    </div>
  </div>